# for server
# foldersToWatch regex*BASE_FOLDER*PATTERN
# foldersToWatch /path/to/dir
foldersToWatch = regex*/home/zoli/Pictures*.*/202[01]/[12].*
filenameMatchPattern = \.(mp4|3gp|mov|avi|mts|vob|ts|mpg|mpe|mpeg|divx|qt|wmv|asf|flv)$
crf = 22
chunkSize = 65536
aBitRate = 80000
vBitRate = 0
vCodec = libaom-av1
aCodec = aac
finalExtension = .mp4
dbPath = MediaArchiver.db
# this suffix is appended to source base filename (before extension), this signals a transcoded file.
# This suffix must be unique among the sourcefiles
resultFileSuffix = _archvd

# for client:
serverConnectionTimeout = 30000
checkForNewFileInterval = 300000
reconnectDelay = 3333
serverName = 192.168.1.1
# the path for windows should not be quoted and use forward slashes (/) instead of backslash (\)
pathToEncoder = C:/Tools/ffmpeg/bin/ffmpeg.exe
pathToProbe = C:/Tools/ffmpeg/bin/ffprobe.exe

extraOptionsPass1 = -cpu-used 8
extraOptionsPass2 = -cpu-used 4

# common
serverPort = 2020
verbosity = 9
logFile = MediaArchiverClient.log

# tempFolder for Daemon:
# tempFolder '.': tmp folder is the same as the source file's folder
# tempFolder '': current working dir
# tempFolder '/path/to/dir': folder absolute/relativ path

# tempFolder for Client:
# tempFolder '/path/to/dir': folder absolute/relativ path
tempFolder = .
